cred/
.env
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.pem
*.tfvars
*.txt
*.csv
__pycache__/
venv/
env/
.venv/
.env/
modules/cdn-distribution/
modules/cdn-simple-route/
modules/custom_route_object/
modules/https_auto_lb/
custom_lb_trial.tf
.DS_Store